@model IEnumerable<WebApplication1.Models.TodoList>

@{
    ViewBag.Title = "Index";
}

<h2>Your Lists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4>List Name</h4>
        </th>
        <th>
            <h4>Date</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.listName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastChangedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.list_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.list_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.list_id })
        </td>
    </tr>
}

</table>
