@model IEnumerable<WebApplication1.Models.Project1TodoEntities>
@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.TodoLists.Join<>)</h3>
    <div>
        <p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.taskName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isDone)
                    </th>
                </tr>

                @foreach (var items in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => items.taskName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => items.isDone)
                        </td>
                    </tr>
                }

            </table>
        </p>
    </div>
}

