@model List<WebApplication1.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>List Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Items"))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model[0].taskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].isDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].lastChangedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].Category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].TodoList.listName)
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].taskName)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => modelItem[i].item_id)
                    @Html.CheckBoxFor(modelItem => modelItem[i].isDone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].lastChangedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Category.categoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].TodoList.listName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model[i].item_id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.item_id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = Model[i].item_id })
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}